<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">Edit Post</h1>
        <div class="col-6 offset-3">

            <form action="/myposts/<%= post._id %>?_method=PUT" method="POST" novalidate class="validate-form">
                <div class="mb-3">
                    <label for="media" class="form-label">Image or Video URL</label>
                    <input type="text" name="post[imageURL]" id="post[imageURL]" class="form-control"
                        value="<%= post.imageURL %>" required>
                </div>
                <div class="mb-3">
                    <label for="caption" class="form-label">Caption</label>
                    <textarea name="post[caption]" id="post[caption]" class="form-control"
                        rows="3" required><%= post.caption %></textarea>
                </div>
                <div class="col-4 mb-3">
                    <!-- <p>Current Publish Time: <%= post.publishAt.toString().slice(0,21) %></p> -->
                    <label for="publishAt" class="form-label">Publish Time</label>
                    <input type="datetime-local" name="post[publishAt]" id="post[publishAt]" class="form-control"
                        value="<%= post.publishAt.toISOString().slice(0,21) %>" required>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary">Update Post</button>
                </div>

            </form>

            <a href="/myposts/<%= post._id %>">Back</a>

        </div>
    </div>