<% layout('layouts/boilerplate') %> 

    <img src="<%= post.imageURL %>" alt="" style="object-fit:contain;width:400px;height:400px;">

    <% if (post.publishAt.getTime() > Date.now() ) {%>
        <h2>Publish Status: Pending...</h2>
    <% } else { %>
        <h2>Publish Status: Published!</h2>
    <% } %>
        <h2>Published Time: <%= post.publishAt %></h2>
        <h2>Last Updated: <%= post.updatedAt %></h2>
        <h2>Caption: <%= post.caption %></h2>


    <form action="/myposts/<%= post._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    
<footer>
    <a href="/myposts/<%= post._id %>/edit">Edit Post</a>
    <a href="/myposts">My Posts</a>
</footer>
