<% layout('layouts/boilerplate') %>

    <script>
        document.cookie = `stat=disconnected; samesite=lax; Secure`
        window.fbAsyncInit = function () {
            FB.init({
                appId: '190092463316496',
                cookie: true,
                xfbml: true,
                version: 'v12.0'
            });

            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
            console.log('statusChangeCallback');
            console.log(response);                   // The current login status of the person.
            if (response.status === 'connected') {   // Logged into your webpage and Facebook.
                testAPI();
            } else {                                 // Not logged into your webpage or we are unable to tell.
                document.getElementById('status').innerHTML = 'Please log ' +
                    'into this webpage.';
            }
        }

        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

        function testAPI() {
            document.cookie = `stat=connected; samesite=lax; Secure`
            const auk = FB.getAuthResponse()['accessToken'];
            document.cookie = `auk=${auk}; max-age=600; samesite=lax; Secure`;
        }

    </script>

    <h1>Instagram Schedule</h1>
    <div><a href="/instagram/new">New Post</a></div>


    <div class="container">
        <div class="row">
            <% for (let post of posts) {%>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="card ratio ratio-1x1 text-center">
                        <a href="/instagram/<%= post._id %>">
                            <% if(post.media.path.slice(-3)==='mp4' ) {%>
                                <video src="<%= post.media.thumbnail %>" class="img-fluid p-1" controls type="video/mp4"
                                    alt="" style="height:100%;object-fit:contain;"">Sorry, your browser doesn't support embedded videos.</video>
                            <% } else { %> 
                                <img src=" <%=post.media.thumbnail %>" alt="" class="img-fluid p-1"
                                    style="height:100%;object-fit:contain;">
                                    <% } %>
                        </a>
                    </div>
                </div>
                <% } %>
        </div>
    </div>


    <!-- <fb:login-button scope="public_profile,email,instagram_basic,pages_show_list,instagram_content_publish"
        onlogin="checkLoginState();">
    </fb:login-button> -->
    <div class="fb-login-button" data-width="250" data-size="large" data-button-type="continue_with"
        data-layout="default" data-auto-logout-link="true" data-use-continue-as="false"
        scope="public_profile,email,instagram_basic,pages_show_list,instagram_content_publish"
        onlogin="checkLoginState();"></div>


    <h1>Recent Instagram Posts</h1>
    <% if (allCookies.stat === "connected") { %> 
    <div class="container">
        <div class="row">
            <% for (let i=0; i <= 5; i++) {%>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="card ratio ratio-1x1 text-center">
                        <% if(allMedia['data'][i].media_type === "VIDEO") {%>
                            <video src="<%= allMedia['data'][i].media_url %>" class="img-fluid p-1" controls type="video/mp4"
                                alt="" style="height:100%;object-fit:contain;"">Sorry, your browser doesn't support embedded videos.</video>
                        <% } else { %> 
                            <img src=" <%= allMedia['data'][i].media_url %>" alt="" class="img-fluid p-1"
                            style="height:100%;object-fit:contain;">
                        <% } %>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
    <% } %> 