<% layout('layouts/boilerplate') %> 

<div class="row">
    <div class="col-lg-4 offset-lg-4">
        <div class="card shadow">
          <div class="ratio ratio-1x1 text-center">
            <% if(post.media.path.slice(-3) === 'mp4') {%>
              <video src="<%= post.media.path %>" class="card-img-top p-1" controls type="video/mp4" alt="" style="height:100%;object-fit:contain;"">Sorry, your browser doesn't support embedded videos.</video>
            <% } else { %> 
              <img src="<%= post.media.path %>" class="card-img-top p-1" alt="" style="height:100%;object-fit:contain;">
            <% } %> 
          </div>
            <div class="card-body">
              <p class="card-text"><%= post.caption %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted">
                <% if (post.publishAt.getTime() - (userZone*60*60*1000) > Date.now() ) {%>
                    Publish Status: Pending...
                <% } else { %>
                    Publish Status: Published!
                <% } %>
              </li>
              <li class="list-group-item text-muted">Publish Time: <%= post.publishAt.toLocaleString('en-GB') %></li>
              <li class="list-group-item text-muted">Last Updated: <%= post.updatedAt.toLocaleString('en-GB') %></li>
            </ul>
            <div class="card-body">
              <a href="/instagram/<%= post._id %>/edit" class="card-link btn btn-info">Edit Post</a>
              <form class="d-inline" action="/instagram/<%= post._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
            </div>
          </div>
    </div>
</div>